@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-sm w-100">
            <h1 class="display-4">S3 Browser</h1>
            <hr />
            <p class="text-muted">Welcome use the navigation on the left.</p>
        </div>
    </div>
</div>
